body {
  margin: auto;
  background-image: url(back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.choice {
  text-align: center;
}
